#outer {
    width: 100%;
    padding: auto;
    margin: 5px;
}
.one {
    background-color: #aaa;
    padding: 5px;
    position: relative;
}
.two{
    background-color: #fff;
    padding: 5px;
    position: relative;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-align: center;
}
